<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AOXA19O123DHDNJAB6</title>
	<link rel="stylesheet" href="estilo.css">
</head>
<body>

<td>
	
	<div>
	<font face="Arial"/font>
		<font style="color:black">
			<header>
				<center><H3><small><i><b>"Documentos del Alumno"</small></b></i></H3></center>
		<center><p>Numero del Tutor: 6744765785</p></center>
		<center><p>Acta de Nacimiento</p></center>
		<nav><center><img src="Acta de Nacimiento.jpg" width="750" height="500"></center>
		<center><p>Cartilla de Vacunacion</p></center>
		<nav><center><img src="Cartilla1.jpg" width="750" height="500"></center>
		<nav><center><img src="Cartilla2.jpg" width="750" height="500"></center>
		<center><p>Foto del Alumno</p></center>
		<nav><center><img src="6.jpg" width="750" height="500"></center>
		<center><p>Foto del tutor</p></center>
		<nav><center><img src="6.jpg" width="750" height="500"></center>
</header>
	</td>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Menú Desplegable</title>
	<link rel="stylesheet" href="estilo.css">
<ul class="menu-horizontal">
			<center><li><a href="INICIO.html">Inicio</a></center>
				</ul>
<ul class="menu-horizontal">
			<center><li><a href="ver.html">Lista de Alumnos</a></center>
				</ul>
</head>

			<center><footer font style="color:#000000">2024 Preescolar Comunitario CONAFE - Todos los derechos reservados</footer></center>
  	<center><footer font style="color:#000000">Año 2024.</footer></center>
</body>
</html>